In [1]:
%run ../tests/util.py

In [2]:
context = pg()
kwargs = next(context)

Stopping intake-postgres ...
Starting PostgreSQL server...
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.utf8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/data ... ok
creating subdirectories ... ok
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting dynamic shared memory implementation ... posix
creating configuration files ... ok
creating template1 database in /var/lib/postgresql/data/base/1 ... ok
initializing pg_authid ... ok
initializing dependencies ... ok
creating system views ... ok
loading system objects' descriptions ... ok
creating collations ... sh: locale: not found
ok
No usable system locales were found.
Use the option "--debug" to see details.
creating conversions ... ok
creating dictionaries ... ok
setting privileges on built-in objects ... ok
creating information schema ... ok
loading PL/pgSQL server-side language ... ok
vacuuming database template1 ... ok
copying template1 to template0 ... ok
copying template1 to postgres ... ok
syncing data to disk ... ok

WARNING: enabling "trust" authentication for local connections
You can change this by editing pg_hba.conf or using the option -A, or
--auth-local and --auth-host, the next time you run initdb.

Success. You can now start the database server using:

    postgres -D /var/lib/postgresql/data
or
    pg_ctl -D /var/lib/postgresql/data -l logfile start

****************************************************
WARNING: No password has been set for the database.
         This will allow anyone with access to the
         Postgres port to access your database. In
         Docker's default configuration, this is
         effectively any other container on the same
         system.

         Use "-e POSTGRES_PASSWORD=password" to set
         it in "docker run".
****************************************************
waiting for server to start....LOG:  could not bind IPv6 socket: Address not available
HINT:  Is another postmaster already running on port 5432? If not, wait a few seconds and retry.
LOG:  database system was shut down at 2018-01-31 22:05:30 UTC
LOG:  MultiXact member wraparound protections are now enabled
LOG:  database system is ready to accept connections
LOG:  autovacuum launcher started
 done
server started
ALTER ROLE


/usr/local/bin/docker-entrypoint.sh: running /docker-entrypoint-initdb.d/postgis.sh
CREATE DATABASE
UPDATE 1
Loading PostGIS extensions into template_postgis
CREATE EXTENSION
CREATE EXTENSION
CREATE EXTENSION
CREATE EXTENSION
Loading PostGIS extensions into postgres
CREATE EXTENSION
CREATE EXTENSION
CREATE EXTENSION
CREATE EXTENSION

waiting for server to shut down....LOG:  received fast shutdown request
LOG:  aborting any active transactions
LOG:  autovacuum launcher shutting down
LOG:  shutting down
LOG:  database system is shut down
 done
server stopped

PostgreSQL init process complete; ready for start up.

LOG:  database system was shut down at 2018-01-31 22:05:34 UTC
LOG:  MultiXact member wraparound protections are now enabled
LOG:  database system is ready to accept connections

In [3]:
kwargs

{'dsn': 'PG'}

In [4]:
%cat odbc.ini
print('\n')
%cat odbcinst.ini

[MSSQL]
Driver   = FreeTDS Driver
Server   = localhost
Port     = 1433
Database = test

[PG]
Driver               = PostgreSQL Driver
Database             = postgres
Servername           = localhost
UserName             = postgres
Password             =
Port                 = 5432
Protocol             = 7.4
UseDeclareFetch      = 1
Fetch                = 10000
UseServerSidePrepare = 1
BoolsAsChar          = 0
ConnSettings         = set time zone 'UTC';


[FreeTDS Driver]
Driver = /usr/local/lib/libtdsodbc.so

[PostgreSQL Driver]
Driver      = /usr/local/lib/psqlodbcw.so
Threading   = 2

In [5]:
import intake

In [6]:
s = intake.open_odbc(sql_expr="SELECT * from testtable", uri=None, **kwargs)

In [7]:
out = s.read()
out.head()

   productid productname     price productdescription
0          0       mixer  3.058408                 hi
1          1     toaster  0.993508                 hi
2          2        oven  4.954163                 hi
3          3     toaster  9.821482                 hi
4          4      fridge  7.740843                 hi

In [8]:
out.productname.value_counts()

oven       1736
micro      1704
kettle     1702
fridge     1649
toaster    1621
mixer      1588
Name: productname, dtype: int64

In [9]:
s = intake.open_odbc_partitioned(sql_expr="SELECT * from testtable", uri=None, index='productid', 
                                 npartitions=2, **kwargs)

In [10]:
s.read_partition(1)

      productid productname     price productdescription
0          5000        oven  2.163930                 hi
1          5001       micro  4.045407                 hi
2          5002       mixer  9.288681                 hi
3          5003       micro  3.670461                 hi
4          5004     toaster  1.563250                 hi
5          5005       mixer  5.120160                 hi
6          5006       micro  3.931687                 hi
7          5007       mixer  0.056744                 hi
8          5008     toaster  9.486062                 hi
9          5009        oven  4.888207                 hi
10         5010      fridge  0.251060                 hi
11         5011        oven  1.649152                 hi
12         5012      fridge  4.713503                 hi
13         5013      kettle  7.167308                 hi
14         5014      kettle  3.513039                 hi
15         5015     toaster  3.349687                 hi
16         5016     toaster  5.611400                 hi
17         5017     toaster  4.267107                 hi
18         5018        oven  0.353686                 hi
19         5019       mixer  6.281143                 hi
20         5020      kettle  4.335662                 hi
21         5021     toaster  6.445498                 hi
22         5022      kettle  3.999870                 hi
23         5023      fridge  4.951981                 hi
24         5024      kettle  3.527733                 hi
25         5025      fridge  3.726287                 hi
26         5026     toaster  2.665984                 hi
27         5027       mixer  6.583298                 hi
28         5028      fridge  0.532511                 hi
29         5029       micro  9.342722                 hi
...         ...         ...       ...                ...
4970       9970      fridge  6.497182                 hi
4971       9971      fridge  2.080796                 hi
4972       9972      fridge  5.223522                 hi
4973       9973       micro  0.618150                 hi
4974       9974        oven  5.883050                 hi
4975       9975       mixer  4.713835                 hi
4976       9976      kettle  3.096249                 hi
4977       9977      kettle  8.222686                 hi
4978       9978       mixer  7.560468                 hi
4979       9979       mixer  7.346506                 hi
4980       9980      fridge  6.108080                 hi
4981       9981      fridge  6.971371                 hi
4982       9982     toaster  7.749438                 hi
4983       9983      fridge  0.674646                 hi
4984       9984       mixer  2.952083                 hi
4985       9985      fridge  6.406368                 hi
4986       9986     toaster  1.434043                 hi
4987       9987       mixer  7.901978                 hi
4988       9988        oven  9.404096                 hi
4989       9989      fridge  1.472251                 hi
4990       9990      kettle  9.510188                 hi
4991       9991        oven  7.637874                 hi
4992       9992        oven  0.065598                 hi
4993       9993     toaster  7.921861                 hi
4994       9994       mixer  6.093609                 hi
4995       9995        oven  3.565117                 hi
4996       9996       mixer  9.257488                 hi
4997       9997      fridge  7.788113                 hi
4998       9998       micro  9.551558                 hi
4999       9999      kettle  7.763127                 hi

[5000 rows x 4 columns]